<%-include('../partials/header_manager_album_add.ejs') %>
<%-include('../partials/header_navbar.ejs') %>
<section class="main">
    <section class="container-fluid banner">
        <a class="material-icons back-button point" id="back">arrow_back</a>
        
        <br>
        
        <section class="main-article">
            <h2>Album</h2>
            <form action="/manager/artist/<%=id %>/add" method="post" enctype="multipart/form-data">
                <label for="fileToUpload">
                    <img class="profile-pic" src="/src/upload-pic.png" id="profile-img">
                </label>
                <h3>image</h3>
                <input type="file" accept="image/*" name="cover" id="fileToUpload" class="form-control" style="width: 20%; margin-left: 40%; margin-top: 1%;">
            
            <!-- <img src="src\upload-pic.png" alt="" class="upload"> -->
                <div class="form-inline name-form">
                    <div class="mb-3">
                        <h3 for="exampleInputEmail1" class="form-label" id="albumNameLabel">Album Name</h3>
                        <br>
                        <input type="name" name="album[name]" class="form-control" id="albumNameForm" aria-describedby="" placeholder="Album title">
                        <br>
                        <button type="submit" class="btn btn-primary" id="albumNameButton">Submit</button>
                    </div>
                </div>
            </form>
        </section>
        
</section>

<%-include('../partials/footer.ejs') %>