<% if(error && error.length > 0){ %>
    <div class="alert alert-danger" role="alert" style="position: fixed; bottom: 0;">
        <%= error %>
    </div>
  <% } %>
  <% if(success && success.length > 0){ %>
    <div class="alert alert-success" role="alert" style="position: fixed; bottom: 0;">
        <%= success %>
    </div>
  <% } %>
</body>
</html>