<% if(currentUser && currentUser.status !== "manager" || !currentUser) {%>
    <nav class="side-nav d-none d-lg-block">
        <% if(currentUser){ %>
            <a href="/" class="user" id="home"><span ><i class="fas fa-home"></i></span> Home</a>
            <a href="/profile" class="user" id="profile"><span class="material-icons">person</span> Profile</a>
            <a href="/favorite" class="user" id="favourite"><span class="material-icons">favorite</span>    Favourite</a>
            <a href="/logout" class="user" id="logout-btn"><span class="material-icons" id="logout-logo">logout</span>Logout</a>
        <% } else { %>
            <i class="guest">Guest</i>
            <a href="/login" class="guest" id="signup">Sign in/signup</a> 
        <% } %>
      </nav>
<% } %>