<%-include('../partials/header_login_screen.ejs') %>
<%-include('../partials/header_navbar.ejs') %>

 
<section class="main">
    <section class="login">
        <section id="main-article">
            <section id="register-section" class="inside-section">
                <h1>
                    Login to WaveForm account
                </h1>
                <h3>
                    Login or register an account to searching for music and download
                </h3>
                <form action="/register" method="get">
                    <button type="submit" id="register-btn" class="btn-primary btn-lg">
                        Register
                    </button>
                </form>
                
            </section>
            <section id="login-section" class="inside-section">
                <form action="/login" method="post">
                    <h4>Email</h4>
                        <input id="input-email" name="username" type="email" class="form-control mr-sm-2 login-form" placeholder="Email" required>
                    <h4>Password</h4>
                    <section id="password">
                        <input id="input-password" name="password" type="password" class="form-control mr-sm-5 login-form" placeholder="Password" required>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="flexCheckDefault" onclick="onClickReveal()">
                            <label for="flexCheckDefault">
                                Reveal Password
                            </label>
                        </div>
                    </section>
                    <button type="submit" class="btn btn-primary" id="btn-login" value="login">Login</button>    
                </form>
                <form action="/reset-password" method="get">
                    <button type="submit" class="btn btn-primary" id="btn-forget" value="login">Forget Password</button> 
                </form>
            </section>
        </section>
        
        
    </section>
</section>

<%-include('../partials/footer.ejs') %>