<%-include('../partials/header_register_screen.ejs') %>
<%-include('../partials/header_navbar.ejs') %>


<section class="main">
    <a href="/login" class="material-icons back-button">arrow_back</a>
        
        <br>
    <section class="register">
        <h1>Sign up with us!</h1>
        <section id="main-article">
            <form action="/register" method="post">
                <h4>First name <span class="important">*</span></h4>
                <div class="form-inline">
                    <input type="name" name="name" class="form-control mr-sm-5 register-form" id="input-name" placeholder="Name" required>
                </div>
                <h4>Last name <span class="important">*</span></h4>
                <div class="form-inline">
                    <input type="last-name" name="lastName" class="form-control mr-sm-5 register-form" id="input-last-name" placeholder="Last name" required>
                </div>
                <h4>Email <span class="important">*</span></h4>
                <div class="form-inline">
                    <input type="email" name="username" class="form-control mr-sm-5 register-form" id="input-email" placeholder="Email" required>
                </div>
                <h4>Password <span class="important">*</span></h4>
                <div class="form-inline">
                    <input type="password" name="password" class="form-control mr-sm-5 register-form" id="input-password" placeholder="password" required>
                </div>
                <h4>Confirm password <span class="important">*</span></h4>
                <div class="form-inline">
                    <input type="password" class="form-control mr-sm-5 register-form" id="input-confirm-password" placeholder="confirm password" required>
                </div>
                <button type="submit" class="btn-primary" id="register-btn">Register</button>
            </form>
            
        </section>
        
        
    </section>
</section>

<%-include('../partials/footer.ejs') %>