
/* Style page content */
.main {
    margin-left: 200px; /* Same as the width of the sidebar */
    padding: 0px 10px;
    color: white;
    margin-top: 5.5%;
}
.btn:hover{
    transition: all 0.2s ease-out ;
    background-color: rgba(0, 0, 0, 0.3);
    transform: scale(1.2);
}
/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .side-nav {padding-top: 15px;}
    .side-nav a {font-size: 18px;}
}
.fas{
    font-style: normal;
}
.material-icons{
    font-size: 400px;
}

.head{
    z-index: 1000;
}

.banner{
    background-color: #587A77;
    padding: 2%;
    width: 129.5%;
    box-shadow: rgba(0, 0, 0, 0.3);
}
.album-cover{
    width: 123px;
    height: 123px;
}
.text{
    display: inline-block;
    color: white;
}
.btn{
    font-family: 'Pacifico';
    display: block;
    color: white;
    text-align: left;
}
#download{
    display: none;
}
.back-button{
    color: black;
    font-size: 24px;
    text-decoration: none;
    cursor: pointer;
}
.back-button:hover{
    color: white;
}
.album-name{
    font-size: 25px;
}
.album-btn{
    color: white;
    font-family: 'Pacifico';
    font-size: larger;
    text-align: center;
    display: inline;
}
.album-btn:hover{
    transition: all 0.2s ease-out ;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    transform: scale(1.2);
}
.cover{
    width: 246px;
    height: 246px;
}
.artist{
    padding-top: 2%;
}
ol {
    margin: auto;
}
.song{
    font-family: 'Roboto', sans-serif, 'FontAwesome';
    font-size: larger;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.3);
    border-bottom: transparent;
    border-left: transparent;
    border-right: transparent;
    height: 80px;
    padding-left: 2rem;
    padding-top: 30px;
}
.song:hover{
    background-color: rgba(88, 122, 119, 0.7);
    cursor: default;
    color: white;
}
.meatball-menu{
    width: 40px;
    height: 40px;
    position: absolute;
    margin-left: 62%;
    margin-top: -1.5%;
    transform: translateY(-50%);
}
.meatball-menu span{
    width:  5px;
    height: 5px;
    border-radius: 50%;
    background:black;
    position: absolute;
}
.meatball-menu span:nth-child(1){
    top: 50%;
    left: 0%;
    transition: .6s;
}
.meatball-menu span:nth-child(2){
    top: 50%;
    left: 35%;
}
.meatball-menu span:nth-child(3){
    top: 50%;
    left: 72%;
    transition: .6s;
}
.meatball-menu:hover{
    cursor: pointer;
}
.option-bar{
    transition: all ease 0.2s;
    background-color: #474747;
    width: 20%;
    margin-left: 78rem;
    margin-top: -2.1rem;
    z-index: 1;
    position: relative;
    display: none;
}
.option{
    display: block;
    color: white;
    text-decoration: none;
    z-index: -1;
    padding: 2%;
}
.option:hover{
    background-color: lightgray;
    color: lightgray;
    color: black;
    z-index: -1;
}
.no-song{
    display: none;
    text-align: center;
}
.song-list{
    color: lightgrey;
    text-decoration: none;
}
.song-list:hover{
    color: white;
}
.card-body{
    background-color: #2A4556;
    color: white;
    z-index: 1;
}
.song-toggler{
    color: black;
    margin-top: -3%;
}
.alert{
    animation: createBox .25s;
}
@keyframes createBox{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}