/* body{
    background-color: #67948D;
    overflow-x: hidden;
}
.navbar{
    background-color: #2A4556;
    font-family: 'Pacifico';
    position: fixed;
    top: 0%;
    width: 100%;
}
.navbar-brand{
    color: #F5CE63;
    font-size: 30px;
}
.navbar-brand:hover{
    color: white;
}
.form-rounded{
    border: black;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif, 'FontAwesome';
    margin-right: 3em;
} */
/* 
.user{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Pacifico', sans-serif, 'FontAwesome';
    color: white;
    display: block;
}
.guest{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Pacifico', sans-serif, 'FontAwesome';
    color: white;
    display: block;
    text-align: center;
}
  
.side-nav a:hover {
    background-color: #83BBB2;
    transition: 0.3s ease-out all ;
    color: black;
}
  
.main {
    margin-left: 200px; 
    padding: 0px 10px;
    color: white;
    margin-top: 5.5%;
}
.btn:hover{
    transition: all 0.2s ease-out ;
    background-color: rgba(0, 0, 0, 0.3);
    transform: scale(1.2);
}
@media screen and (max-height: 450px) {
    .side-nav {padding-top: 15px;}
    .side-nav a {font-size: 18px;}
}
.fas{
    font-style: normal;
}
.material-icons{
    font-size: 400px;
}

.head{
    z-index: 1000;
}
#download{
    display: none;
}
.banner{
    background-color: #587A77;
    padding: 2%;
    width: 129.5%;
    box-shadow: rgba(0, 0, 0, 0.3);
}
.album-cover{
    width: 123px;
    height: 123px;
}
.artist-cover{
    width: 123px;
    height: 123px;
}
.text{
    display: inline-block;
    color: white;
}
.btn{
    font-family: 'Pacifico';
    display: block;
    color: white;
    text-align: left;
}
#download{
    display: none;
}
.back-button{
    color: black;
    font-size: 24px;
    text-decoration: none;
    cursor: pointer;
}
.back-button:hover{
    color: white;
}
.album-name{
    font-size: 25px;
}
.album-btn{
    color: white;
    font-family: 'Pacifico';
    font-size: larger;
    text-align: center;
    display: inline;
}
.album-btn:hover{
    transition: all 0.2s ease-out ;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    transform: scale(1.2);
}
.artist-name{
    font-size: 25px;
}
.artist-btn{
    color: white;
    font-family: 'Pacifico';
    font-size: larger;
    text-align: center;
    display: inline;
}
.artist-btn:hover{
    transition: all 0.2s ease-out ;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    transform: scale(1.2);
}
.cover{
    width: 246px;
    height: 246px;
}
.artist{
    padding-top: 2%;
    margin-left: 20%;
}
ol {
    margin: auto;
}
li{
    font-family: 'Roboto', sans-serif, 'FontAwesome';
    font-size: larger;
    border-style: solid;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-color: rgba(0, 0, 0, 0.3);
    color: white;
    height: 80px;
    padding-top: 30px;
    padding-left: 1rem;
    width: 800rem;
    list-style-type:decimal;
}
li:hover{
    background-color: rgba(88, 122, 119, 0.7);
    cursor: default;
}
.meatball-menu{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    margin-top: -1.5%;
    transform: translateY(-50%);
}
.meatball-menu span{
    width:  5px;
    height: 5px;
    border-radius: 50%;
    background:black;
    position: absolute;
}
.meatball-menu:hover span{
    
    background:white;
}
.meatball-menu span:nth-child(1){
    top: 50%;
    left: 0%;
    transition: .6s;
}
.meatball-menu span:nth-child(2){
    top: 50%;
    left: 35%;
}
.meatball-menu span:nth-child(3){
    top: 50%;
    left: 72%;
    transition: .6s;
}
.meatball-menu:hover{
    cursor: pointer;
}
.option-bar{
    background-color: #474747;
    width: 20rem;
    margin-left: 82rem;
    margin-top: -2.1rem;
    z-index: 1;
    display: none;
    position: relative;
}
.option{
    display: block;
    color: white;
    text-decoration: none;
    z-index: -1;
    padding: 2%;
}
.option:hover{
    background-color: lightgray;
    color: lightgray;
    color: black;
    z-index: -1;
}
.no-song{
    display: none;
    text-align: center;
}
.song-list{
    color: lightgrey;
    text-decoration: none;
}
.song-list:hover{
    color: white;
}
.no-album{
    display: none;
    text-align: center;
}
.alert{
    animation: createBox .25s;
}
@keyframes createBox{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
} */