body{
    background-color: #67948D;
}
.navbar{
    background-color: #2A4556;
    font-family: 'Pacifico';
    position: fixed;
    top: 0%;
    z-index: 1;
    width: 100%;
}
.navbar-brand{
    color: #F5CE63;
    font-size: 30px;
}
.navbar-brand:hover{
    color: white;
}
.nav-transparent:hover{
    background-color: transparent;
}
.form-rounded{
    border: black;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif, 'FontAwesome';
    margin-right: 3em;
}

.side-nav {
    display: block;
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 200px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    left: 0;
    background-color: #3C6760; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 100px;
    margin-top: -5%;
}

.user{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Pacifico', sans-serif, 'FontAwesome';
    color: white;
    display: block;
}
.guest{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Pacifico', sans-serif, 'FontAwesome';
    color: white;
    display: block;
    text-align: center;
}
  
/* When you mouse over the navigation links, change their color */
.side-nav a:hover {
    background-color: #83BBB2;
    transition: 0.3s ease-out all ;
    color: black;
}