
/* Style page content */
.main {
    margin-left: 200px; /* Same as the width of the sidebar */
    padding: 0px 10px;
    color: white;
    margin-top: 5.5%;
}
.btn:hover{
    transition: all 0.2s ease-out ;
    background-color: rgba(0, 0, 0, 0.3);
    transform: scale(1.2);
}
/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .side-nav {padding-top: 15px;}
    .side-nav a {font-size: 18px;}
}
.fas{
    font-style: normal;
}
.material-icons{
    font-size: 400px;
}

.head{
    z-index: 1000;
}
#profile{
    background-color: #83BBB2;
}
#logout-logo{
    display: inline;
    font-size: xx-large;
}
#logout-btn:hover{
    color: white;
}
#profile-img{
    width: 246px;
    height: 246px;
    border-radius: 100%;
}
#subscribe-status{
    display: inline;
    margin-left: 2%;
}
#subscribe-btn{
    position:static;
    display: block;
    border-color: transparent;
    margin-left: 75%;
    margin-top: -8%;
    width: 180px;
    height: 50px;
    font-size: larger;
    background-color: #FFF58E;
}
#subscribe-btn:hover{
    background-color: whitesmoke;
}
#name{
    margin-top: 8%;
    
}
#first-name{
    margin-left: 50%;
    display: inline;
}
#last-name{
    display: inline;
    margin-left: 1%;
}
#edit-btn{
    position:static;
    display: block;
    border-color: transparent;
    margin-left: 57%;
    margin-top: 0.5rem;
    width: 200px;
    height: 50px;
    font-size: larger;
    background-color: #FFF58E;
}
#edit-btn:hover{
    background-color: whitesmoke;
}
.alert{
    animation: createBox .25s;
}
@keyframes createBox{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}