body{
    background-color: #67948D;
}
.navbar{
    background-color: #2A4556;
    font-family: 'Pacifico';
    font-size: 64px;
    position: fixed;
    top: 0%;
}
.navbar-brand{
    color: #F5CE63;
    font-size: 30px;
}
.navbar-brand:hover{
    color: white;
}
.form-rounded{
    border: black;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif, 'FontAwesome';
    margin-right: 3em;

}
.side-nav {
    display: block;
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 200px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    left: 0;
    background-color: #3C6760; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 100px;
    margin-top: -5%;
}

.user{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Pacifico', sans-serif, 'FontAwesome';
    color: white;
    display: block;
}
.guest{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Pacifico', sans-serif, 'FontAwesome';
    color: white;
    display: block;
    text-align: center;
    display: none;
}
  
/* When you mouse over the navigation links, change their color */
.side-nav a:hover {
    background-color: #83BBB2;
    transition: 0.3s ease-out all ;
    color: black;
}
  
/* Style page content */
.main {
    margin-left: 200px; /* Same as the width of the sidebar */
    padding: 0px 10px;
    color: white;
    margin-top: 5.5%;
}
.btn:hover{
    transition: all 0.2s ease-out ;
    background-color: rgba(0, 0, 0, 0.3);
    transform: scale(1.2);
}
/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .side-nav {padding-top: 15px;}
    .side-nav a {font-size: 18px;}
}
.fas{
    font-style: normal;
}
.material-icons{
    font-size: 400px;
}

.head{
    z-index: 1000;
}
#download{
    display: none;
}
#profile{
    background-color: #83BBB2;
}
#logout-logo{
    display: inline;
    font-size: xx-large;
}
#logout-btn{
    margin-left: 120%;
    color: black;
    font-size: xx-large;
}
#logout-btn:hover{
    color: white;
}
#profile-img{
    width: 246px;
    height: 246px;
    margin-left: 55%;
    border-radius: 100%;
}
#subscribe-status{
    display: inline;
    margin-left: 2%;
}
#subscribe-btn{
    position:static;
    display: block;
    border-color: transparent;
    margin-left: 75%;
    margin-top: -8%;
    width: 180px;
    height: 50px;
    font-size: larger;
    background-color: #FFF58E;
}
#subscribe-btn:hover{
    background-color: whitesmoke;
}
#name{
    margin-top: 8%;
    
}
#first-name{
    margin-left: 50%;
    display: inline;
}
#last-name{
    display: inline;
    margin-left: 1%;
}
#edit-btn{
    position:static;
    display: block;
    border-color: transparent;
    margin-left: 58%;
    width: 180px;
    height: 50px;
    font-size: larger;
    background-color: #FFF58E;
}
#edit-btn:hover{
    background-color: whitesmoke;
}