<%-include('partials/header_page_not_found.ejs') %>
<nav class="navbar container-fluid head">
    <a class="navbar-brand home-button" href="/">
        <img src="\src\home.png" width="50" height="50" class="d-inline-block" alt="">
        Waveform
    </a>
</nav> 
<section class="main">
    <section class="header">
        <h1 class="header-title">Sorry</h1>
        <h1 class="header-title">404 - The page cannot be found</h1>
    </section>
    <br>
    <section class="description">
        <h3>
            We cannot find the page you are looking for. <br>
            It might have been removed, had its name changed, or is temporarily unavailable. <br>
            Please check that the Web site address is spelled correctly. <br>
            Or go to our <span><a href="/" id="home">home page</a></span> and use the menus to nevigate to a specifice section.
        </h3>
    </section>
</section> 
<%-include('partials/footer.ejs') %>