<%-include('partials/header_login_screen.ejs') %>

<nav class="navbar container-fluid">
    <a class="navbar-brand home-button" href="/">
      <img src="/src\home.png" width="50" height="50" class="d-inline-block" alt="">
      Waveform 
    </a>
    <form class="form-inline" action="/search" method="post">
        <input class="form-control mr-sm-2 form-rounded" id="search" name="keyword" type="search" placeholder= "&#xF002; Search for songs and artists" aria-label="Search">
    </form>
</nav>
<section class="main">
    <h1 style="color: white; margin-left: 10rem; margin-top: -5rem;">Reset Password</h1>
    <div id="reset">
    <form action="/reset-password" method="post">
        <h4>E-mail</h4>
        <input type="email" name="username" placeholder="E-mail" class="form-control mr-sm-2" required>
        <h4>New Password</h4>
        <input type="password" name="password" id="password" placeholder="Password" class="form-control mr-sm-2" required>
        <h4>Confirm Password</h4>
        <input type="password" name="confirmPassword" id="confirm" placeholder="Password" class="form-control mr-sm-2" required>
        <br>
        <button type="submit" class="btn btn-primary" id="btn-submit">Submit</button>
    </form>    
    </div>
    
</section>

<%-include('partials/footer.ejs') %>