<%-include('partials/header_user_profile_change_password.ejs') %>

<nav class="navbar container-fluid head">
    <a class="navbar-brand home-button" href="/">
        <img src="/src\home.png" width="50" height="50" class="d-inline-block" alt="">
        Waveform
    </a>
    <form class="form-inline" action="/search" method="post">
        <input class="form-control mr-sm-2 form-rounded" id="search" name="keyword" type="search" placeholder= "&#xF002; Search for songs and artists" aria-label="Search">
    </form>
</nav> 
<nav class="side-nav">
    <% if(currentUser){ %>
        <a href="/" class="user" id="home"><span ><i class="fas fa-home"></i></span> Home</a>
        <a href="/profile" class="user" id="profile"><span class="material-icons">person</span> Profile</a>
        <a href="/favorite" class="user" id="favourite"><span class="material-icons">favorite</span>    Favourite</a>
        <a href="#" class="user" id="download"><span class="material-icons">download</span>Download</a>
    <% } else { %>
        <i class="guest">Guest</i>
        <a href="/login" class="guest" id="signup">Sign in/signup</a> 
    <% } %>
</nav>
<section class="main container">
    <div class="header">
        <h1 id="price-name">Change Password</h1>
        
        <form action="" method="post">
        <div class="form-inline" id="form-ccn">
            <h4>Old Password</h4>
            <input type="text" name="id" style="display: none;" value="<%=currentUser.id%>">
            <input id="oldPassword" name="oldPassword" type="password" required  placeholder="Old Password" class="form-control mr-sm-2 form-subscribe">
            <h4>New Password</h4>
            <input type="password" id="newPassword" name="newPassword" minlength="6" placeholder="New Password" class="form-control mr-sm-2 form-subscribe" required>
            <h4>Confirm New Password</h4>
            <input type="password" id="confirm" name="confirmPassword" required placeholder="Confirm New Password" class="form-control mr-sm-2 form-subscribe">
        </div>
        <% if(typeof alertMessage !== 'undefined'){ %>
            <h4 style="color:salmon; text-align: center;" class="mr-sm-2 form-subscribe"><%=alertMessage%></h4>
        <% } %>    
            <button type="submit" class="rounded-pill" id="btn-proceed">Proceed</button>
        </form>
    </div>
</section>

<%-include('partials/footer.ejs') %>