<%-include('partials/header_manager_artist_add.ejs') %>

<nav class="navbar container-fluid">
    <a class="navbar-brand home-button" href="/manager">
      <img src="/src\home.png" width="50" height="50" class="d-inline-block" alt="">
      Waveform 
    </a>
    <form class="form-inline">
        <input class="form-control mr-sm-2 form-rounded" id="search" type="search" placeholder= "&#xF002; Search for songs and artists" aria-label="Search">
    </form>
</nav>
<section class="main">
    <section class="container-fluid banner">
        <a  class="material-icons back-button" id="back">arrow_back</a>
        
        <br>
        
        <section class="main-article">
            <h2>Artist</h2>
            <form action="/manager" method="post">
                <label for="fileToUpload">
                    <img class="profile-pic" src="/src/upload-pic.png" id="profile-img">
                </label>
                <h3>image url</h3>
                <input type="url" name="imgUrl" id="fileToUpload" class="form-control">
                <button type="button" class="btn btn-primary" id="btn-add">preview</button>
                <div class="form-inline name-form">
                    <div class="mb-3">
                        <h3 for="exampleInputEmail1" class="form-label" id="artistNameLabel">Artist Name</h3>
                        <br>
                        <input type="name" name="name" class="form-control" id="artistNameForm" aria-describedby="" placeholder="Artist name">
                        <br>
                        <button type="submit" class="btn btn-primary" id="artistNameButton">Submit</button>
                    </div>
                </div>
            </form>
        </section>
        
</section>

<%-include('partials/footer.ejs') %>